
<div id="app">Loading...</div>
<template id="template">
    <div v-if="inChat">
        <button @click="toggleMode()">
            back
        </button>
    </div>
    <div v-else>
        <button v-if="!$graffitiSession.value" @click="$graffiti.login()">
            Log In
        </button>
        <div v-else>
            <button @click="$graffiti.logout($graffitiSession.value)">
                Log Out
            </button>
        </div>
    </div>

    <div v-if="inChat">
        
    </div>
    <ul v-else>
        <form @submit.prevent="newChat()">
            <input
                type="text"
                v-model="myChatName"
                placeholder="Chat Name"
            />
            <input
                type="submit"
                :value="'New Chat'"
                :disabled="!myChatName || isSending"
            />
        </form>
        <div class="sideScroll">
            <li v-for="object of chats" :key="object.url">
                <button @click="switchChats(object)">
                    {{ object.value.title }}
                </button>
            </li>
        </div>
    </ul>

    <div v-if="!inChat">

    </div>
    <div v-else>
        <p v-if="areMessageObjectsLoading">
            <em>Loading messages...</em>
        </p>
        <ul v-else class="vertScroll">
            <li v-for="object of sortedMessageObjects" :key="object.url">
                
                <p :class="{ mine: object.actor===$graffitiSession.value?.actor }" class="theirs">
                    {{ object.value.content }} 
                </p>
                <button
                    v-if="object.actor===$graffitiSession.value?.actor"
                    @click="deleteMessage(object)"
                    :disabled="isDeleting.has(object.url)"
                    class="delete"
                >
                    {{ isDeleting.has(object.url) ? "Deleting..." : "Delete"
                    }}
                </button>
            </li>
        </ul>
        <button v-if="!$graffitiSession.value" @click="$graffiti.login()">
            Log In
        </button>
        <template v-else>
            <button @click="$graffiti.logout($graffitiSession.value)">
                Log Out
            </button>
            <form @submit.prevent="sendMessage()">
                <input
                    type="text"
                    v-model="myMessage"
                    placeholder="Message"
                />
                <input
                    type="submit"
                    :value="isSending ? 'Sending...' : 'Send'"
                    :disabled="!myMessage || isSending"
                />
            </form>
        </template>
    </div>
</template>